  <div class="toast fade " role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; bottom: 0; right: 3%; background: rgb(142,193,218);">
      
      <div class="toast-body text-white " style="font-weight: 800; ">
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true" style="color: white;">×</span>
      </button>
          Copied
      </div>
  </div>

<footer
        class="d-flex pb-3 pt-4 pt-md-4 border-top border-light bg-primary"
        style="background-color: rgb(142,193,218);"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="social m-0">
                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://instagram.com/aurtisticservices?igshid=mwk578aatr7o"
                    target="_blank"
                    rel="noopener"
                    aria-label="social icon"
                    ><span
                      class="iconify"
                      data-icon="grommet-icons:instagram"
                      data-inline="false"
                    ></span
                  ></a>
                </li>

                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://www.facebook.com/aurtisticservices"
                    target="_blank"
                    rel="noopener"
                    aria-label="social icon"
                    ><span
                      class="iconify"
                      data-icon="cib:facebook-f"
                      data-inline="false"
                    ></span
                  ></a>
                </li>

                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://www.linkedin.com/company/aurtistic-services"
                    target="_blank"
                    rel="noopener"
                    aria-label="social icon"
                  >
                    <span
                      class="iconify"
                      data-icon="brandico:linkedin-rect"
                      data-inline="false"
                    ></span>
                  </a>
                </li>

                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://twitter.com/theaurtistic"
                    target="_blank"
                    rel="noopener"
                    ><span
                      class="iconify"
                      data-icon="teenyicons:twitter-solid"
                      data-inline="false"
                    ></span
                  ></a>
                </li>

                <li class="social__item">
                  <a
                    style="--ionicon-stroke-width: 64px"
                    class="social__link"
                    href="mailto: aurtisticservices@gmail.com"
                    target="_blank"
                    rel="noopener"
                  >
                    <span
                      class="iconify"
                      data-icon="simple-icons:gmail"
                      data-inline="false"
                    ></span>
                  </a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="footer-bottom text-center p-2 pb-3 px-md-0">
        Copyright &copy; Aurtistic Services. All rights reserved.
      </div>
    </div>

    

    <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/headroom.js/dist/headroom.min.js"></script>
    <script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/vendor/prismjs/prism.js"></script>
    <script src="/js/clipboard.js-master/dist/clipboard.min.js"></script>
    <script
      async
      defer="defer"
      src="/buttons.github.io/buttons.js"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
<script>
 var firebaseConfig = {
  apiKey: "AIzaSyBe89i6pn2DaF_RkZaqu3PpvV1JqLxNfVQ",
  authDomain: "aurtistic-5f39f.firebaseapp.com",
  databaseURL: "https://aurtistic-5f39f-default-rtdb.firebaseio.com",
  projectId: "aurtistic-5f39f",
  storageBucket: "aurtistic-5f39f.appspot.com",
  messagingSenderId: "638536142884",
  appId: "1:638536142884:web:f5087583b0ae14e0cb48b1",
  measurementId: "G-DK8EVF0973"
};
  firebase.initializeApp(firebaseConfig);
</script>

    <script src="/js/neumorphism.js"></script>
    <script src="/js/main.js?v=1"></script>
    <Script src="/js/auth.js?v=1"></Script>
  </body>
</html>