
  <div id="animate-area">
  <nav
    id="navbar-main"
    aria-label="Primary navigation"
    class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light"
    style="background-color: rgb(142,193,218);"
  >
    <div class="container position-relative">
      <a
        class="navbar-brand shadow-sm py-2 px-3 rounded border border-light mr-lg-4"
        href="/"
        style="background-color: #d3e8f2;"
      >
        Aurtistic</a
      >
      <div class="navbar-collapse collapse "  id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a
                href="/"
                class="navbar-brand shadow-soft py-2 px-3 rounded border border-light"
                style="background-color: #d3e8f2;"
                >Aurtistic</a
              >
            </div>
            <div class="col-6 collapse-close">
              <a
                href="#navbar_global"
                class="fas fa-times"
                data-toggle="collapse"
                data-target="#navbar_global"
                aria-controls="navbar_global"
                aria-expanded="false"
                title="close"
                aria-label="Toggle navigation"
              ></a>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center" >
          <li class="nav-item dropdown">
            <a href="/" class="nav-link" >
              <span class="nav-link-inner-text">Home</span>
            </a>
            
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About ASD</a>
          </li>
          <li class="nav-item">
            <a href="/stories" class="nav-link">Stories</a>
          </li>
          <li class="d-block d-md-none">
            <div id="signed-out-card" class="">
              <button id="sign-in-button" class="btn btn-primary text-secondary d-md-inline-block mr-3"> <i class="fab fa-google"></i> Sign in with Google</button>
            </div>
            <div id="signed-in-card" class="">
              <button id="sign-out-button" class="btn btn-primary text-secondary  mr-3">Sign out</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a
          href="#comingsoon"
          class="btn btn-primary text-secondary d-none d-md-inline-block mr-3"
          
          ><i class="fas fa-download mr-2"></i> Download App</a
        >
        <button
          class="navbar-toggler ml-2"
          type="button"
          data-toggle="collapse"
          data-target="#navbar_global"
          aria-controls="navbar_global"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-none d-md-block">
          <div id="signed-out-card2" class="">
            <button id="sign-in-button2" class="btn btn-primary text-secondary d-md-inline-block mr-3"> <i class="fab fa-google"></i> Sign in with Google</button>
          </div>
          <div id="signed-in-card2" class="">
            <button id="sign-out-button2" class="btn btn-primary text-secondary  mr-3">Sign out</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </div>
</header>
