<%- include ('partials/header') %>

<body>
  <div id="main-content">
    <%- include ('partials/navbar') %>
    <main>
      <div class="section section-header pb-7">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 text-center">
              <h1 class="display-1 font-weight-bolder mb-4">
                Autism Spectrum Disorder
              </h1>
              <p class="lead display-3 mb-5">Acceptance. Not Cure.</p>
            </div>
          </div>
        </div>
      </div>

      <section class="section section-sm pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card bg-primary shadow-soft border-light px-4 py-1 mb-6">
                <div class="card-body text-center text-md-left">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <h2 class="mb-3">What Is Autism?</h2>
                      <p class="mb-4">
                        Autism, also called Autism Spectrum Disorder (ASD), is
                        a complicated condition that includes problems with
                        communication and behavior. It can involve a wide
                        range of symptoms and skills. ASD can be a minor
                        problem or a disability that needs full-time care in a
                        special facility.
                      </p>
                      <p>
                        People with Autism have trouble with communication.
                        They have trouble understanding what other people
                        think and feel. This makes it hard for them to express
                        themselves, either with words or through gestures,
                        facial expressions, and touch.
                      </p>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                      <img src="/images/block.png" alt="illustration" />
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                      <img src="/images/puzzle.png" alt="illustration" />
                    </div>
                    <div class="col-md-6">
                      <p class="mb-4">
                        People with autism might have problems with learning.
                        Their skills might develop unevenly. For example, they
                        could have trouble communicating but be unusually good
                        at art, music, math, or memory. Because of this, they
                        might do especially well on tests of analysis or
                        problem-solving.
                      </p>
                      <p>
                        More children are diagnosed with autism now than ever
                        before. But the latest numbers could be higher because
                        of changes in how it’s diagnosed, not because more
                        children have a disorder.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 mb-lg-0  d-flex flex-wrap">
              <div class="card bg-primary shadow-inset border-light">
                <div class="card-body p-5">
                  <h3 class="h4 card-title mb-3">Autism Signs and Symptoms</h3>
                  <p class="card-text mt-3" style="font-size:large">Symptoms usually appear before a child turns 3. Some
                    people show signs from birth.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-lg-9 d-flex flex-wrap">
              <div class="card bg-primary shadow-inset border-light">
                <div class="card-body p-2">
                  <h3 class="h5 card-title mb-0 px-5 pt-3">Common symptoms of Autism include:</h3>
                  <p class="card-text mt-0">
                    <ul class="px-5">
                      <li>A lack of eye contact</li>
                      <li>A narrow range of interests or intense interest in certain topics</li>
                      <li>Doing something over and over, like repeating words or phrases, rocking back and forth, or
                        flipping a lever</li>
                      <li>High sensitivity to sounds, touches, smells, or sights that seem ordinary to other people</li>
                      <li>Not looking at or listening to other people</li>
                      <li>Not looking at things when another person points at them</li>
                      <li>Not wanting to be held or cuddled</li>
                      <li>Problems understanding or using speech, gestures, facial expressions, or tone of voice</li>
                      <li>Talking in a sing-song, flat, or robotic voice</li>
                      <li>Trouble adapting to changes in routine</li>
                    </ul>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card bg-primary shadow-soft border-light px-4 py-1 mb-6">
                <div class="card-body text-center text-md-left">
                 
                  <div class="row align-items-center">
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                      <img src="/images/puzzle2.png" alt="illustration" />
                    </div>
                    <div class="col-md-6">
                      <h2 class="mb-3">Causes for Autism</h2>
                      <p class="mb-4">
                        Exactly why autism happens isn't clear. It could stem from problems in parts of your brain that
                        interpret sensory input and process language.
                      </p>
                      <p>
                        Autism is four times more common in boys than in girls. It can happen in people of any race,
                        ethnicity, or social background. Family income, lifestyle, or educational level doesn’t affect a
                        child’s risk of autism
                      </p>
                      <p>Autism runs in families, so certain combinations of genes may increase a child’s risk. A child
                        with an older parent has a higher risk of autism.</p>
                      <p class="mb-4">
                        Pregnant women who are exposed to certain drugs or chemicals, like alcohol or anti-seizure
                        medications, are more likely to have autistic children. Other risk factors include maternal
                        metabolic conditions such as diabetes and obesity. Research has also linked autism to untreated
                        phenylketonuria (also called PKU, a metabolic disorder caused by the absence of an enzyme) and
                        Rubella (German measles).
                      </p>
                      <p>
                        There is no evidence that cause autism.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 mb-lg-0  d-flex flex-wrap">
              <div class="card bg-primary shadow-inset border-light">
                <div class="card-body p-5">
                  <h3 class="h4 card-title mb-3">Autism Screening and Diagnosis</h3>
                  <p class="card-text mt-3" style="font-size:large">It can be hard to get a definite diagnosis of
                    autism. Your doctor will focus on behavior and development.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-lg-9 d-flex flex-wrap">
              <div class="card bg-primary shadow-inset border-light">
                <div class="card-body p-2">
                  <h3 class="h5 card-title mb-0 px-5 pt-3">For children, diagnosis usually takes two steps:</h3>
                  <p class="card-text mt-0">
                    <ul class="px-5">
                      <li>A developmental screening will tell your doctor whether your child is on track with basic
                        skills like learning, speaking, behavior, and moving. Experts suggest that children be screened
                        for these developmental delays during their regular checkups at 9 months, 18 months, and 24 or
                        30 months of age. Children are routinely checked specifically for autism at their 18-month and
                        24-month checkups.</li>
                      <li>If your child shows signs of a problem on these screenings, they’ll need a more complete
                        evaluation. This might include hearing and vision tests or genetic tests. Your doctor might want
                        to bring in someone who specializes in autism disorders, like a developmental pediatrician or a
                        child psychologist. Some psychologists can also give a test called the Autism Diagnostic
                        Observation Schedule (ADOS).</li>

                    </ul>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card bg-primary shadow-soft border-light px-4 py-1 mb-6">
                <div class="card-body text-center text-md-left">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <h2 class="mb-3">Autism Treatment</h2>
                      <p class="mb-4">
                        There’s no cure for autism. But early treatment can make a big difference in development for a child with autism. If you think your child shows symptoms of ASD, tell your doctor as soon as possible.
                      </p>
                      <p>
                      What works for one person might not work for another. Your doctor should tailor treatment for you or your child.
                      </p>
                      <p>
                        Talk to your doctor before trying something different, like a special diet.
                      </p>
                      <p>The two main types of treatments are:</p>
                      <p>
                        <ul class="pl-3">
                        <li>Behavioral and communication therapy to help with structure and organization. Applied Behavior Analysis (ABA) is one of these treatments; it promotes positive behavior and discourages negative behavior. Occupational therapy can help with life skills like dressing, eating, and relating to people. Sensory integration therapy might help someone who has problems with being touched or with sights or sounds. Speech therapy improves communication skills.</li>
                      </ul>
                      </p>
                      <p>
                        <ul class="pl-3">
                       <li> Medications to help with symptoms of ASD, like attention problems, hyperactivity, or anxiety.</li>
                      </ul>
                      </p>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                      <img src="/images/hands.png" alt="illustration" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



    </main>
    <%- include('partials/footer') %>